<div>
      <h1 id="welcome"></h1>
      <h2></h2>
      <input id="chatBox">
      <p id="messagesLogs"></p>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>